extends layout

block content
  app-home-list
//- block content
//-   h1 mobile List
//-   p Here is a  list of my favourite mobiles
//-     ul
//-       each mobile in mobiles
//-         li 
//-            a(href = `/mobiles/${mobile._id}`) #{mobile.name}
//-   p 
//-     a(href = '/new') Add New mobile